.BG{
    position: relative;
    overflow: hidden;
    background-color: #141414;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
.LinkList{
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
.linkGenre{
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 14px 54px;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5%;
    transition: background-color 0.3s, color 0.3s;

}
.linkGenre:hover{
    padding: 14px 54px;
    background-color: #FCE9E9;
}