.BgSub{
    position: relative;
    overflow: hidden;
    background-color: #141414;
    color: white;
    padding: 4%;
    padding-top: 1%;
}
.judulSub{
    padding-left: 1%;
}
.ContainerSub{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    color: black;
}
.cardSub{
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cardSubDalam{
    margin: 4%;
}
.cardInfo{
    padding-bottom: 5%;
    border-top-style: groove;
}
.LinkInfo{
    margin-top: 10%;
}
.btn{
    padding: 20px 89px;
    margin: 3%;
    background-color: #fff;
    border-style: groove;
    border-width: 1px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover{
    background-color: #FCE9E9;
}